<!-- <app-navbar></app-navbar>

<app-ngfor></app-ngfor>

<p>{{ 'Testando meu pipe' | capitalizePhilips }}</p> -->

<!-- <app-ngif>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p> 
</app-ngif> -->
<!-- 
<app-ngcontent>
    <p id="titulo">Título do card.</p>
    <p id="subtitulo">Descrição do card.</p>
    <p id="descricao">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Maiores ipsa impedit in temporibus voluptatibus tempora quod, 
        corporis iusto repudiandae aut modi vel, voluptatum quibusdam 
        obcaecati ea reprehenderit! Vero, harum sequi.
    </p>
</app-ngcontent> -->

<app-ngifngelse></app-ngifngelse>

